<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ADD STUDENTS</title>
</head>
<body>
<form method="post" action="/add_students.html/">
    {% csrf_token %}
    <h1>添加</h1>
    <P><input type="text" name="username" placeholder="用户名"></P>
    <P><input type="text" name="age" placeholder="年龄"></P>
    <P>
        男：<input type="radio" name="gender" value="1">
        女：<input type="radio" name="gender" value="0">
    </P>

    <P>
        <select name="cs">
            {% for row in cs_list %}
                <option value="{{ row.id }}">{{ row.titile }}</option>
            {% endfor %}


        </select>
    </P>
    <P><input type="submit" value="提交"></P>
</form>


</body>
</html>